.cycles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.cyclesDots {
    display: flex;
    gap: 1rem;
}

.cyclesDot {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.worktime {
    background-color: var(--warning);
}

.shortBreakTime {
    background-color: var(--success);
}

.longBreakTime {
    background-color: var(--info);
}