.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    gap: 1.6rem;
}

.footer a {
    color: var(--text-muted);
}

.footer a:hover {
    color: var(--text-muted);
    text-decoration: underline;
}