.button {
    border: none;
    background: var(--primary);
    color: var(--text-over-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22rem;
    padding: 1rem;
    border-radius: 0.8rem;
    margin: 1.8rem 0;
    transition: all 0.1s ease-in-out;
}

.button svg {
    width: 3.2rem;
    height: 3.2rem;
}

.button:hover {
    filter: brightness(0.8);
}

.green {
    background: var(--primary);
    color: var(--text-over-success);
}

.blue {
    background: var(--info);
    color: var(--text-over-info);
}